.row.home-bg
  .top-content.col-sm-12
    %h2.subheader Welcome to the Mutual Aid Network
  .col-sm-7.left-content
    .intro-copy
      %p
        The Mutual Aid Network is a cooperative designed to pool and steward value and reward good work with cooperative economic tools such as timebanking, business-to-business mutual credit, and cooperative saving, lending, and investment.
      %p
        We are working to create an infrastructure that empowers people to come together for common purpose and generate, share, and steward the resources needed to realize their common goals.
      %p
        Initially, the Mutual Aid Network is intended to help you discover the work people you are connected to share and are involved in. Over time, and as you connect additional networks, The M.A.N's recommendations will improve.
      %p
        Thanks,
        %br
        The M.A.N. Team
  .col-sm-5.right-content
    - if current_user
      = form_for current_user do |f|
        = render "shared/social_buttons", f: f
    - else
      = render "shared/social_buttons"
