- if current_user
  - if !@projects.empty?
    .row
      %h2.red-banner Your Projects
      .group-of-projects.clearfix
        - @projects.each do |project|
          = render 'project_list', project: project
  - if !@contributed_projects.empty?
    .row
      %h2.red-banner Projects You've Contributed To
      .group-of-projects.clearfix
        - @contributed_projects.each do |project|
          = render 'project_list', project: project
  .row
    %h2.red-banner Suggested Projects
    .group-of-projects.clearfix
      - @ranked_projects.each do |rank|
        = render 'project_list', project: rank.project, rank: rank
- else
  .row
    %h2.red-banner Projects on the Mutual Aid Network
    .group-of-projects.clearfix
      - @projects.order("updated_at asc").each do |project|
        = render 'project_list', :project => project
